<section class="sessions-new">

  <header class="page-header">
    <h1>Login!</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for '/login' do %>

        <div class="form-group">
          Email: <%= text_field_tag :email , nil, class: "form-control" %>
          Password: <%= password_field_tag :password, nil, class: "form-control" %>
        </div>

        <%= submit_tag 'Login!', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>