<h1 class="text-center">Admin Dashboard</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Class
      </th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        Products
      </td>
      <td>
        <%= link_to @products.count, [:admin, :products] %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Categories
      </td>
      <td><%= link_to @categories.count, [:admin, :products] %></td>
    </tr>
  </tbody>
</table>